*{margin:0px; padding:0px;}
body{
	background-color:#EFE4AA;
}
#main_wrapper{
	width:960px;
	margin:auto;
}
#header{
	background:#FFB522;
	margin-top:10px;
	padding:15px;
	border-bottom: 3.5px solid red;
}#header h2{
	color:white;
	font-family:arial;
}#header p{
	color:#ddd;
	font-family:arial-black;
}
#menu{
	background:white;
	width:960px;
	height:38px;
}#menu ul{
	border-bottom:3px solid green;
	min-height:35px;
}#menu ul li{
	list-style-type:none;
	display:block;
	float:left;
	border-right:1.5px solid gray;
	min-height:100%;
	padding:10px;
}#menu ul li:last-child{
	border-right:none;
}#menu ul li a:hover{
	color:orange;
	padding:7px;
	border-bottom:3px solid red;
}#menu ul li:active{
	background:blue;
}#menu ul li:focus{
	background:orange;
}
#menu ul li a{
	text-decoration:none;
	transition:all ease 1s;
}#menu ul li ul {
	
}#menu ul li ul li{
	border-right:none;
	float:none;
}
#section img{
	border-bottom:3px solid green;
	vertical-align:middle;
}
#main_content{
	background:#fff;
	padding:10px;
	overflow:hidden;
}
#content{
	width:620px;
	margin-right:40px;
	float:left;
	text-align:justify;
	margin-top:20px;
}#content article{
	margin-bottom:20px;
}
#sidebar{
	width:280px;
	float:left;
	margin-top:20px;
}#sidebar aside{
	margin-bottom:20px;
}#sidebar aside li{
	margin-left:10px;
}
#footer{
	padding:30px;
	text-align:center;
	border-bottom:3px solid red;
}